<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcservice.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.hcservice.domain.model.Admin">
    <id column="ADMIN_ID" jdbcType="INTEGER" property="adminId" />
    <result column="ADMIN_NAME" jdbcType="VARCHAR" property="adminName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PICTURE_URL" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="STATUS" jdbcType="BOOLEAN" property="status" />
    <collection property="roles" ofType="com.hcservice.domain.model.Role" select="com.hcservice.dao.RoleMapper.getRolesByAdminId" column="ADMIN_ID" fetchType="eager"/>
  </resultMap>
  <resultMap id="AdminResultMap" type="com.hcservice.domain.model.Admin">
    <id column="ADMIN_ID" jdbcType="INTEGER" property="adminId" />
    <result column="ADMIN_NAME" jdbcType="VARCHAR" property="adminName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PICTURE_URL" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="STATUS" jdbcType="BOOLEAN" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ADMIN_ID, ADMIN_NAME, EMAIL, PHONE_NUMBER, PASSWORD, PICTURE_URL, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ADMIN_INFO
    where ADMIN_ID = #{adminId,jdbcType=INTEGER}
  </select>
  <select id="getAdminByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ADMIN_INFO
    where ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
  </select>
  <select id="getAdminsByRoleId" resultMap="AdminResultMap" parameterType="java.lang.Integer">
    SELECT a.*
    FROM ADMIN_ROLE ar, ADMIN_INFO a
    WHERE ar.AID = a.ADMIN_ID AND ar.RID = #{ROLE_ID}
  </select>
  <select id="getAllAdmins" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM ADMIN_INFO
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ADMIN_INFO
    where ADMIN_ID = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hcservice.domain.model.Admin">
    insert into ADMIN_INFO (ADMIN_ID, ADMIN_NAME, EMAIL,
      PHONE_NUMBER, PASSWORD, PICTURE_URL,
      STATUS)
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{phoneNumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hcservice.domain.model.Admin">
    insert into ADMIN_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        ADMIN_ID,
      </if>
      <if test="adminName != null">
        ADMIN_NAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phoneNumber != null">
        PHONE_NUMBER,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="pictureUrl != null">
        PICTURE_URL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcservice.domain.model.Admin">
    update ADMIN_INFO
    <set>
      <if test="adminName != null">
        ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        PICTURE_URL = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ADMIN_ID = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcservice.domain.model.Admin">
    update ADMIN_INFO
    set ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      PICTURE_URL = #{pictureUrl,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ADMIN_ID = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>
